/*---- #banner ----*/

#indexBanner {
    width: 100%;
    height: 430px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* #banner button*/

.index_btn {
    width: 60px;
    height: 82px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
}
.index_btn > a {
    width: 100%;
    height: 100%;
    display: block;
}
.index_btn_01 {
    background-color: #595959;
    left: 10px;
}
.index_btn_02 {
    background-color: #595959;
    right: 10px;
}

/*// #banner*/

#indexBanner>ul {
    width: 300%;
    height: 100%;
    margin-left: -100%;
}
#indexBanner>ul>li {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    transition: margin-left 2s ease-in;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.21, 1.47, .64, -0.31);
    transition-delay: 0.3s
}

/* inducator */

#indexBanner > ol {
    width: 50px;
    height: 12px;
    position: absolute;
    z-index: 200;
    right: calc(50% - 23px);
    bottom: 20px;
}
#indexBanner > ol > li {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    float: left;
    background-color: #595959;
    cursor: pointer;
    border-radius: 100%
}
#indexBanner > ol > li:last-child {
    margin-right: 0;
}
#indexBanner>ul>.banner_1 {
    background-color: #af3;
}
#indexBanner>ul>.banner_2 {
    background-image: url(../img/main/banner/banner_01.png); background-repeat: no-repeat; background-position: center;
}
#indexBanner>ul>.banner_3 {
    background-color: #3ff;
}

/*test*/
.index_btn_01{background-image: url(../img/main/banner/left_btn.png);}
.index_btn_02{background-image: url(../img/main/banner/right_btn.png);}
.index_btn_01:hover ~ ul>li:first-child {
    margin-left: calc(100% / 3);
}
.index_btn_02:hover ~ ul>li:last-child {
    margin-left: calc(-100% / 3);
}