/*---- #content ----*/

#indexContent {
    width: 900px;
    min-height: 320px;
    height: auto;
    margin: 0 auto;
    background-color: #f06;
    padding: 20px 30px;
}
.in_con_head {
    width: 100%;
    height: 22px;
    margin-bottom: 18px;
}
.in_con_head > h1 {
    width: 60px;
    height: 22px;
    margin-left: 8px;
    float: left;
    color: #fff; font: italic 1rem/1.25rem "myriad pro"; text-align: right;
}
.in_con_head > .line {
    width: calc(100% - 116px);
    height: 10px;
    float: left;
    border-bottom: 1px solid #fff;
    margin-top: 8px;
}
.in_con_head > .more {
    width: 40px;
    height: 22px;
    float: right;
    margin-left: 8px;
}
.in_con_head > .more > a> i {font-size: 22px; font-size: 1.375rem; color: #fff; transition: all 0.5s linear;}
.in_con_head > .more:hover i{transform: rotate(180deg);}

.in_con_nar {
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
.in_con_nar > .in_con_nav_box{width: 380px;height: 280px; float: left; background-image: url(../img/main/article/article_box_01.png);}
.in_con_nar::after{content:""; display: block; clear: both;}
.in_con_nar > .in_con_nav_box > ul{float: right; margin-top: 20px; margin-right: 50px;}
.in_con_nar > .in_con_nav_box > ul > li{margin-top: 20px; }
.in_con_nar > .in_con_nav_box > ul > li > a{color: #fff;}
.in_con_nar > .in_con_nav_box > ul > li > a:hover{cursor: pointer;}

.in_con_nar_box{width: 520px; height: 280px; float: left;}
.nar_gic{width: 240px;height: 100%; float: left; background-image: url(../img/main/article/article_box_02.png);}
.nar_text{width: calc(100% - 280px); height: 240px; float: right; padding: 20px; background-image:linear-gradient(-135deg, #707, #f06); overflow: hidden;}
.nar_text>p{width: 100%; height: 100%; background-color: #fff; overflow-y:scroll ; padding-right: 50%;}
.nar_text>p>em{color: fuchsia;}