/*---- #container ----*/

#container {
    width: 100%;
    height: auto;
    background-color: #ccc;
    padding-top: 60px;
}


/*---- #header ----*/

#jjwebwrap {
    width: 100%;
    height: 60px;
    background-color: #f06;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

#jjweb {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: inherit;
    position: relative;
}

#headH1 {
    width: 150px;
    height: 100%;
    background-color: #595959;
    background-image: url(../img/all/header/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#headH1 > a {
    width: 150px;
    height: 100%;
    background-color: #595959;
    background-image: url(../img/all/header/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.nar {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    background-image: url(../img/all/header/nar.png);
    background-repeat: no-repeat;
    float: left;
}

.site_map {
    width: 145px;
    height: 45px;
    margin-top: 8px;
    margin-right: 40px;
    float: right;
}

.site_map>ul {
    width: 100%;
    height: 20px;
}

.site_map>ul>li {
    float: left;
    height: 100%;
    margin-right: 0.2rem;
    margin-right: 8px;
}

.site_map>ul>li:last-child {
    margin: 0;
}

.site_map>ul>li>a {
    color: #fff;
    font: bold italic 1.1667rem/1.25rem "myriad pro";
    letter-spacing: 0.0615rem;
    word-spacing: -0.2rem;
    text-decoration: none;
}

.site_map>ul>li:nth-child(1)>a {}

.site_map>ul>li:nth-child(2)>a {}

.site_map>ul>li:nth-child(3)>a {}

.site_map>form {
    width: 100%;
    height: 20px;
    margin-top: 5px;
}

.site_map>form>fieldset {
    width: 100%;
    height: 100%;
}

.site_map>form>fieldset>input {
    width: 125px;
    height: 20px;
    float: left;
}

.site_map>form>fieldset>button {
    width: 20px;
    height: 20px;
    float: left;
    color: #fff;
    background-color: #595959;
    font-size: 1rem;
}

.site_map>form>fieldset>button:hover {
    cursor: pointer;
}

#gnb {
    width: 730px;
    height: 30px;
    right: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 60px;
    right: 10px;
}

#gnb > ul {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

#gnb > ul > li {
    float: left;
    height: 100%;
    margin-right: 50px;
}

#gnb > ul > li:last-child {
    margin: 0;
}

#gnb > ul > li > a {
    line-height: 1.875rem;
    color: #fff;
    font: italic 1.1667rem/1.25rem "myriad pro";
    letter-spacing: -0.0625;
    text-decoration: none;
}

#gnb > ul > li > a:hover {
    cursor: pointer;
    color: #f06;
    text-decoration: none;
}

#gnb>ul>li:nth-child(1)>a {}

#gnb>ul>li:nth-child(2)>a {}

#gnb>ul>li:nth-child(3)>a {}

#gnb>ul>li:nth-child(4)>a {}

#gnb>ul>li:nth-child(5)>a {}

#gnb>ul>li:nth-child(6)>a {}

#jjheadside {
    width: 100%;
    height: 100%;
    background-color: #595959;
    position: absolute;
    z-index: -100;
    top: 0;
    left: -50%;
}